
/* 3. 轮播图 */
#banner {
    height: 400px;
    position: relative;
}

#banner img {
    width: 100%;
    display: none;
}

#banner img:first-child {
    display: block;
}

#banner ul {
    position: absolute;
    left: 450px;
    bottom: 20px;
}

#banner li {
    float: left;
    height: 12px;
    width: 12px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 4px;

}

#banner li:first-child {
    background-color: #bbbbbb;
}

#banner a {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 70px;
    margin-top: -35px;
    border-radius: 5px;
}

#banner .prev {
    left: 5px;
    background: rgba(0, 0, 0, 0.3) url("../images/index/arrow-left.png") no-repeat center;
}

#banner .next {
    right: 5px;
    background: rgba(0, 0, 0, 0.3) url("../images/index/arrow-right.png") no-repeat center;
}

/* 4. 推荐 */
#recommend {
    margin: 10px 0;
    height: 240px;
}

#recommend div {
    float: left;
    margin-right: 10px;
    width: 326px;
    height: 240px;
}

.commend1 {
    background: url("../images/index/sbanner1.jpg");
}

.commend1 img {
    width: 130px;
    float: right;
    margin-top: 50px;
    margin-left: 40px;
}

.commend2 {
    background: url("../images/index/sbanner2.jpg");
}

.commend2 img {
    width: 230px;
    margin-top: 40px;
    margin-left: 40px;
}

#recommend .commend3 {
    margin: 0;
    background: url("../images/index/sbanner3.jpg");
}

.commend3 img {
    width: 160px;
    margin-top: 40px;
    margin-left: 40px;
}

#recommend img {
    transition: 1s;

}

#recommend img:hover {
    transform: scale(1.1);
}

/* 5. 横幅 */
#wrapper {
    height: 370px;
    background: url("../images/index/index_guild.jpg");
    background-size: 1000px;
    margin-bottom: 40px;
}

/* 6. 主体 */
#main {

}

#main .item-type {
    overflow: hidden;
    margin-top: 15px;
}

.item-type > p {
    font: bold 24px "微软雅黑";
    color: #333333;
    margin-bottom: 12px;
}

.item-type > p > a {
    color: #f0f0f0;
    font-size: 14px;
    background-color: #333333;
    margin-left: 20px;
    padding: 2px 5px;
}

.item1 {
    width: 615px;
    height: 380px;
    background-color: #e8e8e8;
    float: left;
}

.item2, .item3 {
    float: right;
    width: 375px;
    height: 185px;
    background-color: #e8e8e8;
}

.item2 {
    margin-bottom: 10px;
}

.item1 img {
    width: 230px;
    float: right;
    margin-top: 60px;
    margin-right: 50px;
}

.item1 .brand {
    font: bold 24px "微软雅黑";
    color: #333333;
    margin-top: 95px;
    margin-left: 55px;
}

.subtitle {
    font-size: 14px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 30px;

}

.price {
    font: bold 14px youyuan;
    color: #6e5557;
}

.detail {
    width: 132px;
    height: 24px;
    background-color: #6e5557;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
}

.item1 .subtitle {
    margin-left: 58px;
}

.item1 .price {
    margin-left: 120px;
}

.item1 .price, .item1 .detail {
    margin-left: 120px;
    margin-bottom: 15px;
}

.item2 img {
    width: 180px;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.item3 img {
    width: 100px;
    float: right;
    margin-top: 25px;
    margin-right: 30px;

}

.item2 .subtitle, .item3 .subtitle {
    margin-top: 30px;
    margin-left: 30px;
}

.item2 .price, .item3 .price {
    margin-top: 10px;
    margin-left: 32px;
}

.item2 .detail, .item3 .detail {
    margin-top: 10px;
    margin-left: 32px;
}

